.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin: 0;
  padding: 0;

}


header,
section,
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section{
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

li{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  color: #011C40;
}

p{
  color: #011C40; 
}

h1{    
  color: #011C40;  
}

a,
a:hover,
a:active{
  color: inherit;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button,
input,
textarea{
  outline: none;
  cursor: pointer;
  border: none;
}

input,
textarea{
  padding-left: 10px;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  width: 1000px;
}

section > .wrapper{
  height: 100%;
}

/* Header ------------------------------------------------------*/


header{
  padding: 15px 0 15px 0;
  background-color: rgb(211, 211, 211);
}

header > .wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul.nav_menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

li.nav_menu_item{
  margin-left: 20px;
}
/* мусор */

body
  {
      color: rgb(0, 0, 0);
      font-family: 'Courier New', Courier, monospace;

      background-color: rgb(205, 211, 199);



  }
.content
  { 
      margin-bottom: 28px;
      text-align: center;
  }
.details_content
{
  width: fit-content;
  text-align: center;

}
.post_title
  {
      margin-top: 15px;
      margin-left: 10px;
      font-size: 22px;
      text-align: left;
      font-weight: bold;
  }
.date_time
  {
      margin-left: 10px;
      font-weight: bold;     
  }
a
  {
      color: black;
      text-decoration: none;
  }
.menu
  {
      font-size: 30px;
      background-color:rgb(233, 230, 213);
      font-weight: bold;    
      text-align: center;  
  }
.img_container
  {   
      text-align: center;


  }

.index_image
  {
      margin-bottom: 15px;
      width: 766px;
      height: auto;

  }
.post
{
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 7px;
  background-color:rgb(233, 230, 213);
  margin-bottom: 28px;
}

.comment
{
  color: rgb(255, 0, 0);
}
.anscomment
{
  color: rgb(0, 0, 0);
}

.login_block
{
  color: pink;
}
